/* BLOG SCSS
================================================== */
// HERO STYLES STYLES
.blogga.hero {                                      background-color: #000;}
.singBlog.hero {                                    background-color: #000;}
.singBlog.hero .callout {                           top: 150px;}

.story {                                margin: 0 0 100px;}
.story .text {                       margin: 100px 0;}
.story .text h3 {                    text-align: none; margin: 0 0 10px 0; } 
.story h4 {                         padding: 10px 0 50px; color: #00000099;}       
.story .text h6 {                   margin: 0 0 5px;}
.story .text p {                    font-size: 24px; line-height: 32px; margin: 0 0 30px;}
.story .text .image {               width: calc(100% - 200px); padding: 50px; margin: 0 auto;}
.story .text .image img {           width: 100%;}
.story .storie iframe {             height: 650px;}
.story .storie h2 {                 font-size: 56px; line-height: 56px;}
.story .storie h4 {                 color: #CA1D48;}


// HOME PAGE STORIES STYLESs
.storied {                                          padding: 100px 15% 50px; background-color: #fff;}
.storied .header h2 {                               text-align: center; color: #050236;}
.storied .header p {                                font-size: 18px; line-height: 26px; padding: 30px 300px 0; font-weight: 400; text-align: center; color: #050236;}
.storied .case {                                    margin: 50px 0;}
.storied .rack {                                    height: 300px; margin: 0 0 40px;}
.storied .rack .frames {                            width: calc(100% - 20px); height: 100%; border-radius: 15px; margin: 0 10px 20px; overflow: hidden;}
.storied .rack .frames:hover {                      transform: scale(1.03);}
.storied .rack .frames .frame {                     width: 100%; height: 100%; position: relative; overflow: hidden;}
.storied .rack .frames .frame .image {              width: 100%; height: 100%; }
.storied .rack .frames .frame .image video {        width: 100%; height: 100%; object-fit: cover;} 
.storied .rack .frames .frame .image img {          width: 100%; height: 100%; object-fit: cover;} 
.storied .rack .frames .frame .text {               width: calc(100% - 20px); position: absolute; padding: 20px; bottom: -120px; left: 0; background-color: #050236;}
.storied .rack .frames:hover .text {                bottom: 0;}
.storied .rack .frames .frame .text h1 {            font-size: 24px; line-height: 24px; font-weight: 900; color: #fff; margin: 0;}
.storied .rack .frames .frame .text p {             font-size: 18px; line-height: 26px; font-weight: 400; padding: 10px 0 0; color: #ffffff99; margin: 0;}


.blogHeader {                        width: 100%; position: absolute; top: 85px; left: 0; z-index: -9; }

.blogContent .heading h1 {          font-size: 30px; font-weight: 700; color: #fff; margin: 50px 0 0; padding: 0; }
.blogContent .panel {                       margin: 0 -20px 100px;} 
.blogContent .panes {                    padding: 0 20px; display: block;} 
.blogContent .pane {                     margin: 0 0 40px; box-shadow: 0 0 24px 2px #cecece; background-color: #fff;}
// .blogContent .panes:hover {               opacity: 0;}
.blogContent .pane .image {              width: 100%; height: 250px; background-repeat: no-repeat; background-size: cover;}
.blogContent .pane .text {               padding: 20px;} 
.blogContent .pane .text h2 {            min-height: 40px; font-family: 'Roboto', sans-serif; display: block; font-size: 20px; line-height: 20px; font-weight: 700; text-transform: none; margin: 0 0 20px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.blogContent .pane .text p {              min-height: 44px; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 22px; font-weight: 500; margin: 0 0 20px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.blogContent .pane .text a {              font-size: 16px; line-height: 16px; font-weight: 700; margin: 0 10px 0 0; text-decoration: none; color: #050236;}
.blogContent .pane .text svg {           color: #050236;}

.singleHeader {                             width: 100%; height: 585px; position: relative; background-color: #000;} 
.singleHeader .image {                      width: 100%; height: 100%; position:absolute; top: 0; left: 0; background-repeat: no-repeat; background-size: 100%; background-position: -250px auto;  opacity: 0.7;}
.singleHeader .text {                       margin: 170px 0; color: #fff; z-index: 9;}
.singleHeader .text h3 {                    font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 14px; font-weight: 500; text-transform: none; margin:0 0 5px; padding: 0; color: #fff;}
.singleHeader .text h1 {                    font-size: 54px; line-height: 62px; font-weight: 700; margin: 0; padding: 0; color: #fff;}
.singleHeader .text p {                     width: 50%; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 22px; font-weight: 500; margin: 20px 0 20px;}

.singlePost {                               margin: 100px 0 100px; padding: 0 20px;} 
.singlePost .content h1 {                      font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 24px; font-weight: 700; text-transform: none; margin:0 0 10px; padding: 0;} 
.singlePost .content p {                       font-family: 'Roboto', sans-serif; font-size: 20px; line-height: 28px; font-weight: 500; margin: 0 0 20px;}
.singlePost .buttonWrap {                     margin: 50px 0 20px; padding: 0;}
.singlePost .buttonWrap .button {          background-color: #CA1D48;}

