/* FAMILY PAGE SCSS STYLES
============================================================== */
// HERO STYLES STYLES
.family.hero {                                      background-color: #000;}

// WHAT IS CLINICAL RESEARCH STYLES
.incFamily {                                      margin: 0 15% 100px;}
.incFamily h2 {                                    padding: 44px 0 0;}
.incFamily .image video {                         width: 100%; position: relative; background-color: #fff; overflow: hidden;}
// .incFamily .text {                                background-color: #cc3;}
.incFamily .text p {                              font-size: 22px; line-height: 30px; margin: 0 100px 0 100px; padding: 30px 0 30px 100px; border-left: 5px solid #050236; font-weight: 300;}

// WHY IT MATTERS SECTION STYLES
.resFam {                                      margin: 100px 15% 0;}
.resFam h2 {                                    padding: 20px 0 0;}
.resFam .image video {                         width: 100%; position: relative; background-color: #fff; overflow: hidden;}
// .resFam .text {                                background-color: #cc3;}
.resFam .text p {                              font-size: 22px; line-height: 30px; margin: 0 100px 0 0; padding: 65px 100px 85px 0; border-right: 5px solid #050236; font-weight: 300;}

// HOME PAGE WHO WE ARE STYLES
.familyRes {                                     margin: 0 15%;}
.familyRes h2 {                                  margin: 10px 0 0;}
.familyRes p {                                   font-size: 24px; line-height: 40px; padding: 30px 0 30px 100px; border-left: 5px solid #000; font-weight: 400; }
.familyRes .box {                                width: auto; margin: 100px -20px 0;}
.familyRes .deck .cards {                            width: calc(100% - 20px); height: 417px; border-radius: 15px; margin: 0 10px; overflow: hidden;}
.familyRes .deck .cards:hover {                      transform: scale(1.03);}
.familyRes .deck .cards .card {                      width: 100%; height: 100%; position: relative; overflow: hidden;}
.familyRes .deck .cards .card img {                  width: 100%;}
.familyRes .deck .cards .card .cardimg {             width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;}
.familyRes .deck .cards .card:hover .cardimg {       transform: scale(1.03);}
.familyRes .deck .cards .card .text {                width: calc(100% - 60px); height: calc(50% - 60px); position: absolute; padding: 30px; bottom: 0; left: 0; background-color: #050236;}
.familyRes .deck .cards .card .text h3 {             font-size: 28px; line-height: 28px; font-weight: 900; color: #fff; margin: 0;}
.familyRes .deck .cards .card .text p {              font-size: 18px; line-height: 24px; font-weight: 300; border: none; padding: 10px 0 0; color: #ffffff99; margin: 0;}