/* HEADER SCSS STYLES
============================================================== */
/* HEADER STYLES */
header {                        width: 100%; display: block; margin: 0; padding: 0; position: absolute; top: 0; left: 0; z-index: 99;}
.header.wrapper {               padding: 50px 0 10px;} 
.header .logo {                 margin: 0; float: left;}
.header .logo img {             height: 35px; margin: 5px 0 0;}

/* NAV STYLES */
nav {                           margin: 0; float: left;}
ul.nav {                        margin: 5px 40px;}
ul.nav li {                     margin: 0; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 16px; font-weight: 500; position: relative; display: inline-block; padding: 10px; margin: 0 15px 0 0;}
ul.nav li a {                   text-decoration: none; color: #fff;}

/* LOGIN/SIGNUP NAV BUTTON STYLES */
.login {                        float: right; margin: 0;}
ul.log {                        margin: 0; padding: 0; list-style: none;}
ul.log li {                     font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 16px; font-weight: 700; margin: 0; display: inline-block; margin: 0 15px 0 0;}
ul.log li a {                   display: block; padding: 15px 35px; text-decoration: none;}
ul.log li.signup a {            color: #0F0F10;}
ul.log li.logins a {            color: #fff; background-color: #CA1D48;}

/* SUBHEADER STYLES */
header.sub {                            width: 100%; display: block; margin: 0; padding: 0; position: relative; top: 0; left: 0; z-index: 99; background-color: #050236;}
header.sub .header.wrapper {            height: 45px; padding: 20px 0 20px; background-color: #050236;}
header.sub ul.log li.signup a { color: #fff;}

/* HOVER STYLES */
ul.log li.signup a:hover {        background-color: #EEC31A; color: #0F0F10;}
ul.log li.logins a:hover {        background-color: #EEC31A; color: #0F0F10;}

ul.nav.active {				    margin-top: 7px}
.header-logo.active {			margin-top: 5px;}
.menu-button.active {			margin-top: 10px;}
ul.settings.active {			margin-top: 11px;}





