/* HEALTH PAGE SCSS STYLES
============================================================== */
/* RESOURCE CARD STYLES */
.health.content {                               margin: 0 0 50px;}
.content h1 {                            margin: 80px 0 100px;}   
.health .cardpanel {                            margin: 0 -20px 50px; background-color: #a23;}
.health .cardwrap {                             padding: 0 22px; background-color: #ace223;}
.health .cardwrap:last-child {                  margin: 0;}
.health .card {                                 border-radius: 12px; padding: 40px; margin: 0 0 45px; border: 1px solid #cecece; background-color: #fff;}
.health .card img {                             width: 66px; height: 66px; border-radius: 12px; border: 1px solid #fff; margin: 0 0 30px;}
.health .card h2 {                              margin: 0 0 15px; color: #1a1a1a;}
.health .card p {                               font-size: 16px; line-height: 24px; margin: 0 0 28px;}
.health .card a {                               text-decoration: none; color: #1A3667;}
.health .card a svg {                           margin: 0 0 0 7px;}