/* HEALTH PAGE SCSS STYLES
============================================================== */
.call {                                     width: 100%; height: 825px; position: relative;}  
.call .callbg {                             width: 100%; height: 825px; position: absolute; top: 0; left: 0; z-index: -1;}
.call .callout {                            width: 100%; height: 675px; position: absolute; top: 190px; left: 0;}
.call .callout .content {                   width: 40%; position: absolute; top: 30px; left: 10%;}
.call .callout .content .calltext {                   width: 100%; display: block;}
.call .callout .content .calltext h1 {                font-size: 72px; line-height: 72px; margin: 70px 0 30px; color: #fff;}
.call .callout .content .calltext p {                 font-family: 'Poppins', sans-serif; font-size: 18px; line-height: 26px; font-weight: 300; width: 90%; margin: 0 0 30px; color: #fff;}
.call .callout .content .callbutton {                 margin: 30px 0 0; display: block;}
.call .callout .callimage {                 width: 675px; position: absolute; top: 0; right: 7%; display: block;}
.call .callout .callimage img {             width: 100%; display: block;}

.call .text h1 {                font-family: 'Oswald', sans-serif; font-size: 72px; line-height: 72px; margin: 70px 0 30px; color: #fff;}
.call .text p {                 font-family: 'Poppins', sans-serif; font-size: 16px; line-height: 24px; font-weight: 300; width: 50%; margin: 0 0 30px; color: #fff;}
