/* HOME PAGE SCSS STYLES
============================================================== */
// HOME PAGE CALLOUT STYLES
.home .calloutbg {                                    width: 100%; height: 778px; position: absolute; top: 0; left: 0; z-index: -9;}
.home .callout {                                      width: 100%; height: 878px;}
.home .callout .content {                             width: 40%; height: 500px; position: absolute; top: 200px; left: 10%;}
.home .callout .content .calltext {                   width: 100%; display: block;}
.home .callout .content .calltext h1 {                font-size: 94px; line-height: 97px; font-weight: 700; color: #fff; margin: 46px 0;}
.home .callout .content .calltext p {                 width: 90%; font-size: 24px; line-height: 36px; font-weight: 400; color: #fff; }
.home .callout .content .callbutton {                 margin: 30px 0 0; display: block;}


.home .callout .callimage {                                    width: 750px; position: absolute; top: 200px; left: calc(50% + 50px); display: block;}
.home .callout .callimage img {                                width: 90%;  display: block;}


.button {                                       font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 700; line-height:52px; margin: 0 15px 0 0;}
.button.signup {                                border: 1px solid #CA1D48; background-color: #CA1D48; color: #fff;} 
.button.learnmore {                             border: 1px solid #fff; background-color: none !important; color: #cecece;}
.button.signup:hover {                          border: 1px solid #EEC31A; background-color: #EEC31A; color: #0F0F10;} 
.button.learnmore:hover {                       border: 1px solid #EEC31A; background-color: #EEC31A; color: #0F0F10;}

.home .callout .playModal {                     width: 750px; position: absolute; top: 200px; left: calc(50% + 50px); display: block;}
.home .callout .playModal img {                 cursor: pointer;}
.home .callout .playButton {                    width: 150px; height: 150px; position: absolute; top: 50%; transform: translateY(-50%); left: calc(58%); margin-left: -175px;}

.homeVideo {                                    width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 99; background-color: rgba(0,0,0,0.8); opacity: 0; display: block; visibility: visible;}
.homeVideo .frame {                             width: 50%; height: 60%; position: absolute; top: 35%; left: 25%; z-index: 99;}
.homeVideo .popClose {                          width: 40px; height: 40px; padding: 10px; position: absolute; top: -60px; right: -60px; z-index: 99;}
.homeVideo .popClose img {                       width: 40px; height: 40px; }

.home .callout .playModal a:hover .card-img {     transform: scale(1.02);}
.playModal a img.card-img {                         width: 675px;}

// HOME PAGE PORTAL SECTION STYLES
.portal {                               display: inline-block; margin: 70px -15px 40px;}
.portal .ports {                        display: block;}
.portal .ports .port {                  height: 225px; margin: 0 15px 30px; padding: 30px; position: relative; overflow: hidden; text-align: left; background: #fff;}
.portal .ports .port.hover:hover {            transform: scale(1.02);}
.portal .ports .port.shadow {                 box-shadow: 0 0 24px 2px #ddd;}
.portal .ports .port h1 {               font-size: 54px; line-height: 54px; margin: 0 0 20px; color: #0F0F10;}
.portal .ports .port p {                font-size: 18px; line-height: 26px; color: #0F0F10;}
.portal .ports .port svg {              font-size: 56px; display: block; position: relative; clear: both; margin: 0 0 30px; color: #CA1D48;}
.portal .ports .port h4  {              font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 32px; text-transform: none; margin: 0 0 12px; color: #0F0F10;}

// HOME PAGE WHYNOW? SECTION STYLES
.whyNow {                               background-color: #050236;}
.whyNow .whyImage {                     width: 100%; height: 300px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.whyNow .whyText {                      margin: 100px 100px 100px 0; display: inline-block;}
.whyNow .whyText h1 {                   font-size: 48px; line-height: 60px; font-weight: 700; margin: 0 0 30px; color: #fff;}
.whyNow .whyText p {                    font-size: 16px; line-height: 30px; font-weight: 400; margin: 0 0 30px; color: #fff;}

.whyNow .whyTextWide {                  text-align: center; padding: 90px 0;}
.whyNow .whyTextWide h3 {               font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; text-transform: none; margin: 0 0 30px; color: #fff;}
.whyNow .whyTextWide h1 {               font-size: 48px; line-height: 60px; font-weight: 700; margin: 0 0 30px; color: #fff;}
.whyNow .whyTextWide p {                width: 500px; font-size: 16px; line-height: 30px; font-weight: 400; margin: 0 auto 30px; color: #fff;}

.whyNow .stats {                    padding: 100px 0 0;}
.whyNow .stats .stat {              display: block;}
.whyNow .stat .point {              margin: 0 15px 30px; padding: 30px; position: relative; overflow: hidden; text-align: left; border: 1px solid #287FDD;}
.whyNow .stat .point h3 {           font-family: 'Poppins', sans-serif; font-size: 48px; line-height: 48px; font-weight: 700; color: #fff; margin: 0 0 60px; text-transform: none;}
.whyNow .stat .point p {            height: 40px; font-size: 14px; line-height: 20px; font-weight: 400; color: #fff; margin: 0 0 20px; text-transform: none;}

// HOME PAGE COVID-19 SECTION STYLES
.covid {                            margin: 100px 0; text-align: center;}
.covid h1 {                         font-family: 'Oswald', sans-serif; font-size: 54px; line-height: 64px; font-weight: 700; color: #0F0F10; margin: 0 0 20px;}
.covid h2 {                          font-family: 'Poppins', sans-serif; font-size: 24px; line-height: 32px; font-weight: 400; color: #0F0F10; padding: 0 0 50px; margin: 0 50px 30px 100px;}
.covid .data {                      padding: 0 40px; margin: 0 0 80px;}
.covid .data.border {               border-right: 1px solid #cecece;}
.covid .data h3 {                   font-family: 'Poppins', sans-serif; font-size: 54px; line-height: 54px; font-weight: 700; color: #0F0F10; margin: 0 0 10px; text-transform: none;}
.covid .data h3 span {              color: #CA1D48;}
.covid .data p {                    font-size: 14px; line-height: 20px; font-weight: 400; color: #0F0F10; margin: 0 0 20px; text-transform: none;}



