@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .header.wrapper {               padding: 50px 0 10px;} 
    .header .logo svg {             height: 20px; display: block; margin: 0;}
    .header .logo {                 margin: 12px 0 0; float: left;}    
    // HOME PAGE STYLES
    .home .callout {                                        height: 725px;}
    .home .callout .callimage {                             width: 500px; top: 170px;}
    .home .callout .content .calltext h1 {                  font-size: 80px; line-height: 80px; font-weight: 700; color: #fff; margin: 0 0 20px;}
    .home .callout .content .calltext p {                   font-size: 14px; line-height: 24px; }
    .portal .ports .port h1 {                               font-size: 38px; line-height: 38px;}
    .portal .ports .port p {                                font-size: 14px; line-height: 22px;}
    .whyNow .whyText p {                                    font-size: 14px; line-height: 22px;}
    .whyNow .stat .point p {                                font-size: 14px; line-height: 22px;}
    // HEALTH PAGE STYLES
    .call {                                                 height: 675px;}
    .call .callout .content .calltext h1 {                  font-size: 48px; line-height: 48px; margin: 0 0 20px;}
    .call .callout .content .calltext p {                   font-size: 14px; line-height: 22px;}
    .call .callout .callimage {                             width: 400px;}    
    // FEAT RESOURCES STYLES
    .health.content .featured .back {                       width: auto; height: calc(100% - 200px); margin: 0 0 0 30%; display: block; padding: 45px;}
    .health .featured .back p {                             font-size: 14px; line-height: 24px; margin: 40px 0;}
    // RECIPE COMP STYLES
    .recComp .panel .heading p {                            font-size: 14px;}
    .recComp .recipe .text p {                              font-size: 14px;}
    // ADDITIONAL RESOURCES STYLES
    .addRes .pane {                                         padding: 30px 30px 15px 30px}
    .addRes .pane h2 {                                      min-height: 60px;}
    // FEAT STORY STYLES
    section.featStory .story .text h1 {                    width: 90%; font-size: 52px; line-height: 60px;  }
    // BLOG PAGE STYLES
    .blogContent .pane .text p {                            min-height: 88px; }
    // RECIPE PAGE STYLES
    .recipe .heading {                                      padding: 110px 0 50px;}
    .recipe .card .content p.directions {                   min-height: 96px;}
    .recHeader {                                            width: 100%; position: absolute; top: 60px; left: 0;}
    // COVID PAGE STYLES
    .covid19 .phrase .face {                    background-position: center -125px;}
    .covid19 .phrase .face .overlay {           display: flex; align-items: center; vertical-align: middle;}
    .covid19 .phrase .face .overlay h1 {        padding: 0 0 0 50px;}
    .covid19 .pane .text h1 {                   font-size: 48px; line-height: 48px;}
    .covid19 .pane .text p {                    font-size: 14px; line-height: 22px;}
    .covid19 .views .vue {                      padding: 0 60px;}
    // WHYNOW PAGE STYLES
    .whyComp .heading {                         padding: 50px 0 150px;}   
    .whyComp .heading h1 {                      font-size: 40px; line-height: 40px;}
    .whyComp .heading p {                       font-size: 14px; line-height: 22px;}  
    .whyComp .pane p {                          font-size: 14px; line-height: 22px;}  
    .whyComp .break p {                         font-size: 14px; line-height: 22px;}
    .leaders .heading p {                       font-size: 14px; line-height: 22px;}
    .leaders .window h1 {                       min-height: 48px;}  
    .whyComp .lower p {                         font-size: 14px; line-height: 22px;}
    // TRIALS PAGE STYLES
    .trials.space {                             margin: 0 0 250px;}
    .trials .search {                           padding: 30px 20px; background-color: rgb(0,0,0,0);}
    .trials .search h1 {                        font-size: 56px; line-height: 56px;}
    .results .panel p {                         font-size: 14px; line-height: 22px;}
    .results .panel ul li {                     font-size: 10px; line-height: 16px;}
    .study .heading h1 {                        font-size: 36; line-height: 36px;}
    .study .info a {                            font-size: 14px; line-height: 22px;}
    .study .bread {                             font-size: 14px; line-height: 22px;} 
    .study .panel p {                           font-size: 14px; line-height: 22px;}
    .study .panel ul li {                       margin: 0; padding: 0; font-size: 10px; line-height: 16px;}
    // PARTNER PAGE STYLES
    .partnerUp .content p {                     font-size: 40px; line-height: 48px; margin: 20px 0 0 0;}
    // POPUP STYLES
    .popBack {                              width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 99; background-color: rgb(0,0,0,0.7);}
    .popback .popContainer {                width: 30%; position: absolute; top: 50%; left: 35%; transform: translateY(-50%); z-index: 100; background-color: #050236;}
    .popback .popClose {                    width: 35px; height: 30px; position: absolute; cursor: pointer; top: -15px; right: -15px; background-color: #CA1D48;}
    .popBack .popClose:hover {              background-color: #EEC31A;}
    .popBack .popClose svg{                 font-size: 20px; margin: 5px 10px; color: #fff;}
    .popBack .popClose:hover svg {          color: #000;}
    .popBack .popContent h1 {               font-size: 40px; line-height: 48px; display: inline-block; color: #fff;}
    .popBack .popContent h1 span {          display: inline-block; color: #CA1D48;}    
    .popBack .popContent p {                width: 100%; font-size: 18px; line-height: 26px; font-weight: 500; margin: 20px 0 20px; color: #fff;}
    .popBack .popContent .button {          font-size: 18px; line-height: 72px; margin: 0 0 10px; background-color: #CA1D48; } 
    // FOOTER STYLES
    .footer h1 {                                font-size: 18px;}
    .footer .social li a {                      font-size: 14px;}
    .footer svg {                               width: 60%; display: inline-block; font-size: 28px; margin: 12px 12px 0 0;}
    .footer .connect p {                        width: 90%; font-size: 14px; line-height: 22px;}
    .footEnd p {                                font-size: 10px; font-weight: 500; display: inline-block; height: 12px; padding: 10px 0 10px; color: #fff;}
    .footend ul li svg {                        font-size: 10px;}
    .footend ul li a {                          font-size: 10px; color: #fff; text-decoration: none;}




    






}