



// .whyComp .break h1 {                    text-align: center; color: #0F0F10;}


@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {


    .callimage img {            width: 50%; background-color: #f09;  display: block;}
    .whyComp .break h1 {                    text-align: center; color: #0F0F10;}


}

// @media only screen and (max-width: 320px) {
//     .callout .content .calltext h1 {
//         font-size: 50px;
//         color: #EEC31A;
//     }

// }