/* RECIPE PAGE SCSS STYLES
============================================================== */
// RECIPE HEADER
.recHeader {                        width: 100%; position: absolute; top: 85px; left: 0;}
.recipe .heading {                  padding: 90px 0 50px;}
.recipe .heading h1 {               font-size: 48px; line-height: 48px; text-align: center; margin: 0 0 30px; color: #0F0F10;}
.recipe .heading h3 {               width: 700px; font-family: 'Roboto', sans-serif; font-size: 32px; line-height: 40px; font-weight: 500; text-transform: none; text-align: center; margin: 0 auto 30px; color: #0F0F10;}

// RECIPE RESULT CARDS
.recipe .deck {                         margin: 0 -20px 0; padding: 0 0 100px;}    
.recipe .cards {                        padding: 0 20px; margin: 0 0 40px; display: block; }
.recipe .card {                         display: block; margin: 0 30px 30px; margin: 0 0 30px; box-shadow: 0 0 24px 2px #ddd; background-color: #fff;}
.recipe .card .image {                  width: 100%; height: 350px; background-color: #34500a;}
.recipe .card .image img {              width: 100%; height: 100%; object-fit: cover;}
.recipe .card .content {                padding: 20px; background-color: #fff;}
.recipe .card .content h1 {             min-height: 60px; font-family: 'Roboto', sans-serif; font-size: 22px; line-height: 30px; font-weight: 700; text-transform: none; margin: 0 0 20px; color: #0F0F10;}
.recipe .card .content svg {            font-size: 20px; line-height: 24px; margin: 0 5px 0 0; float: left; color: #CA1D48;}
.recipe .card .content p {              font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 10px; color: #0F0F10;}
.recipe .card .content p.directions {           min-height: 72px; margin: 20px 0 30px;}
.recipe .card .content a.button {       margin: 30px 0 0; background-color: #CA1D48; color: #0F0F10;}
.recipe .card .content a.button:hover {         background-color: #EEC31A;} 

// SINGLE RECIPE STYLES
// .recipe .single .header {                       background-color: #f98;}
.recipe .single .header h1 {                    font-size: 56px; line-height: 56px; padding: 100px 0 5px;}
.recipe .single .header h3 {                    font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 14px; font-weight: 500; text-transform: none; margin: 0 0 30px 2px; color: #0F0F10;}
.recipe .single .image {                        width: 90%; height: 600px;}
.recipe .single .image img {                    width: 100%; height: 100%; object-fit: cover;}
.recipe .single .content {                      width: 100%; padding: 100px 0;}
.recipe .single .content h3 {                   font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 50px; font-weight: 700; text-transform: none; display: block; margin: 0 0 5px; color: #0F0F10;}
.recipe .single .content h3 svg {               width: 40px; text-align: center; color: #CA1D48;}
.recipe .single .content p {                    font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 10px 15px; color: #0F0F10;}
.recipe .single .content ul li {                font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 5px 12px; color: #0F0F10;}
.recipe .single .content ul li svg {            color: #0ec41d;}


.recipe .forms {                        padding: 30px; margin: 0 0 100px; box-shadow: 0 0 8px #999; background-color: #fff;}
.recipe .forms h3 {                             font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 50px; font-weight: 700; text-transform: none; display: block; margin: 0 0 5px; color: #0F0F10;}
form {							        color: #fff}
.recipe .form .group {             		width: 100%; height: auto; position: relative; display: inline-block; margin-bottom: 20px;}
.recipe .form .addon {					width: 40px; height: 40px; text-align: center; float: left; background-color: #CA1D48; visibility: hidden; display: none; opacity: 0;}
.recipe .form .addon svg {              display: inline-block; font-size: 24px; line-height: 40px; text-align: center; margin: 8px 0 0; visibility: hidden; display: none; opacity: 0;}
.recipe .form .control { 				width: calc(100% - 40px); margin: 0; padding: 12px 0 10px 15px; display: inline-block; background-color: #E9F2FC; border:none;}
.recipe .form .control2 { 				width: calc(50% - 120px); margin: 0; padding: 12px 0 10px 15px; display: inline-block; background-color: #E9F2FC; border:none;}
.recipe .form .control3 { 				width: calc(57% - 40px); margin: 0; padding: 12px 0 10px 15px; display: inline-block; background-color: #E9F2FC; border:none;}
.recipe .form .control, .form .control2, .form .control3, .form .text, .form .button { 				font-family: 'Roboto', serif; color:#000000; font-size: 16px; line-height: 18px;}
.recipe .form .text { 					width: calc(100% - 40px); height:150px; margin: 0; padding: 15px; border: none; background-color: #E9F2FC;}
.recipe .form .text::placeholder {      text-align: left;}
.recipe .form .drop { 				    width: auto; margin: 0; padding: 10px 15px 9px; border-left: 1px solid #aaa; border-top: none; border-right: none; border-bottom: none; font-family: 'Montserrat', serif; color:#515050; background-color: #E9F2FC;}
.recipe .form ul {                      list-style: none; color: #000;}
.recipe .form .button {                 margin: 0 0 0 10px; padding: 12px 15px 10px; font-weight: 800; display: inline-block; background-color: #CA1D48; color: #fff; border:none;}
.button.clear {                 background-color: #ccc; font-weight: 800; color: #000;}
.button.clear:hover {           background-color: #EEC31A; color: #fff;}

.recipe .side {                         padding: 30px;}
.recipe .side h3 {                      font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 50px; font-weight: 700; text-transform: none; display: block;  margin: 350px 0 0; color: #0F0F10;}
.recipe .side p {                       font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0; color: #0F0F10;}






