/* #PARTNER RESOURCE STYLES
================================================== */
#hero.hero.resc {                                background-color: var(--navy);
    .callout {                                  margin-top: 150px; margin-bottom: 100px;                              
        .image {                                    float: left; margin: 0 75px 0 0;}
        .text {                                         margin: 140px 0 0;
            h1 {                                        line-height: 85px; margin: 0 0 30px; color: var(--white);}
            p {                                         width: 80%; font-size: 24px; line-height: 32px; font-weight: 900; margin: 0 0 30px; color: var(--white);}
        }
    }
    .blogcall {                                     width: 100%; height: 70vh; background-color: var(--red);
        img {                                       width: 100%; height: 100%; object-fit: cover;}
    }
    .fill {                                     height:150px;}
}

// CONTENT STYLES
section.intro {
    .text {                             padding: 0 0 75px;
        h2 {                                font-size: 46px; line-height: 54px; margin: 0 0 10px;
            span {                              color: var(--blue);}
        }
        p {                                 font-size: 24px; line-height: 32px; margin: 0 0 50px;}
    }
}

// RESOURCE TERMINAL STYLES
section.addRes {                        margin: 0; padding: 0; background-color: #fff;
    .header {                               margin: 0 auto 50px; text-align: center;
        h2 {                                    font-size: 64px; line-height: 64px; padding: 0 0 30px; margin: 0;
            span {                                  display: inline-block; color: var(--blue);}
        }
        p {                                     font-size: 18px; line-height: 24px; padding: 0; margin: 0;}
    }
    
    .list {                             width: 100%; height: 56px; margin: 0 0 50px; position: relative; display: block;} 
    ul.terminal {                       position: absolute; top: 0; left: 50%; padding: 10px; border-radius: 56px; transform: translateX(-50%); text-align: center; background-color: var(--navy);} 
    ul.terminal li {                    font-weight: 900; display: inline-block; padding: 10px; margin: 0 2px; border-radius: 30px; text-align: center; cursor: pointer; color: #fff;}
    ul.terminal li.active {             font-weight: 900; background-color: var(--red); color: #fff;}
    ul.terminal li a {                  text-decoration: none; color: #fff;}
    ul.terminal li:hover {              text-decoration: none; color: #fff; background-color: var(--red);}
    ul.terminal li.active a {           text-decoration: none; color: var(--red);}
    
    .panel {                            margin: 30px -20px 100px;
        .panes {                            height: 350px; padding: 20px; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); overflow: hidden; margin: 0 20px 40px; position: relative; cursor: pointer; background-color: #fff;
            .image {                  width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: 70%; background-repeat: no-repeat; background-position: center;}
            .image img {                 padding: 10px; width: 100%; height: 100%; object-fit: contain;}
        }
        .panes:hover {                      transform: scale(1.02);}
        .panes:hover .pane {                bottom: -20px;}
    }
    #playContainer {                        z-index: -99;}
}

.homeVideo {                                    width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 99; background-color: rgba(0,0,0,0.8); opacity: 1; display: block; visibility: visible;
    .frame {                                        width: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 15px 0 15px 15px; z-index: 99; background-color: var(--gray);
        .header {                                       width: 100%; height: 200px; border-radius: 15px 0 15px 15px; margin: 0; background-color: var(--white);
            .image {                                        width: 40%; height: 100%; float: left; position: relative;
                img {                                           width: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
            }
            .title {                                        width: 60%; height: 100%; float: right; position: relative;
                .text {                                         width: calc(100% - 75px); padding: 0 50px 0 25px; position: absolute; top: 50%; left: 0; transform: translate(0, -50%);
                    h2 {                                            font-size: 24px; line-height: 24px; text-align: left; padding: 0 0 5px; color: var(--navy);}
                    p {                                             text-align: left;}
                }
            }
        }
        .content {                                  width: calc(100% - 80px); padding: 40px 40px 20px;
            h2 {                                        font-size: 32px; line-height: 32px;}
            p {                                         font-size: 18px; line-height: 26px; margin: 0 0 30px;}
            a {                                         text-decoration: none; color: var(--red);}    
        }
    }
    .popClose {                          width: 40px; height: 80px; padding: 10px; position: absolute; top: -60px; right: 0; z-index: -77; cursor: pointer; border-radius: 15px 15px 0 0; background-color: var(--blue);}
    .popClose img {                      width: 40px; height: 40px; }
    .popClose:hover {                    background-color: var(--red);}

}