/* HEADER SCSS STYLES
============================================================== */
/* HEADER STYLES */
header {                        width: 100%; display: block; margin: 0; padding: 0; position: fixed; top: 0; left: 0; z-index: 99; opacity: 0;
  .logo {                         margin: 0; float: left;}
  .logo svg {                     height: 35px; margin: 5px 0 0;}
}
.header.wrapper {               padding: 50px 0 10px;} 

/* NAV STYLES */
nav {                           margin: 0; float: right;
  ul {                              list-style: none; margin: 0; padding:  0; 
    li {                                font-size: 18px; font-weight: 900; color: var(--white); display: block; float: left; padding: 1rem; margin: 0 ; border-radius: 5px; font-family: 'Montserrat', sans-serif; position: relative; text-transform: uppercase; transition-duration: 0.5s;}    
    li a {                              color: var(--white); text-decoration: none; }
    li#drop {                           border-radius: 5px 5px 0 0;}
    li.logins {                         margin: 0 0 0 50px; background-color: var(--red);}
    li:hover {                          background: var(--red); cursor: pointer; border-radius: 5px;}  
    li.logins:hover {                   background-color: var(--blue);}
  }  
    
  ul li ul {                  background: var(--red); visibility: hidden; opacity: 0; width: 100%; border-radius: 0 0 5px 5px; position: absolute; margin-top: 1rem; left: 0; }  
  li:hover > #drop {          border-radius: 20px;}
  ul li:hover > ul,
  ul li:focus-within > ul, /* this is the line we add */
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
  }
    
  ul li ul li {
    text-align: center;
    clear: both;
    width: calc(100% - 2rem);
  }
}

/* LOGIN/SIGNUP NAV BUTTON STYLES */
// div.login {                         float: right; margin: 0 0 0 40px;
//     ul.log {                            margin: 0; padding: 0; list-style: none;
//         li {                                 text-transform: uppercase; display: inline-block; margin: 0 15px 0 0;}
//         li a {                              display: block; padding: 15px 25px; text-decoration: none; border-radius: 5px;}
//         li.signup a {                       color: var(--blue);}
//         li.logins a {                       color: var(--red); background-color: var(--blue);}
//     }    
// }

.login {                        float: right; margin: 0;}
ul.log {                        margin: 0; padding: 0; list-style: none;}
ul.log li {                     font-family: 'DM Sans', sans-serif; font-size: 16px; font-weight: 900; margin: 0; display: inline-block; margin: 0 15px 0 0;}
ul.log li a {                   display: block; padding: 15px 25px; text-decoration: none; border-radius: 5px;}
ul.log li.signup a {            color: #CA1D48;}
ul.log li.logins a {            color: #fff; background-color: #CA1D48;}


// DROPMENU STYLES
header .navButton {             display: none; opacity: 0; visibility: hidden;}

/* SUBHEADER STYLES */
header.sub {                            width: 100%; display: block; margin: 0; padding: 0; position: relative; top: 0; left: 0; z-index: 99; background-color: #050236;}
header.sub .header.wrapper {            height: 45px; padding: 30px 0 30px; }
header.sub ul.log li.signup a {         color: var(--white);}

/* HOVER STYLES */
ul.log li.signup a:hover {        background-color: var(--red); color: var(--white);}
ul.log li.logins a:hover {        background-color: var(--red); color: var(--white);}

ul.nav.active {				    margin-top: 7px}
.header-logo.active {			margin-top: 5px;}
.menu-button.active {			margin-top: 10px;}
ul.settings.active {			margin-top: 11px;}