/* #PARTNER RESOURCE STYLES
================================================== */
// CONTENT STYLES
.resources .heading {                           padding: 100px 0 290px; text-align: center; margin: 0 0 100px;}
.resources .heading h1 {                        width: 50%; font-size: 64px; line-height: 64px; margin: 0 auto 30px; color: #fff;}
.resources .heading h3 {                        font-family: 'Roboto', sans-serif; font-size: 24px; line-height: 24px; text-transform: none; color: #fff; margin: 0 0 30px;}
.resources .heading a {                         font-weight: 700; text-decoration: none; margin: 0 0 30px; color: #fff;}
.resources .heading p {                         width: 400px; font-size: 16px; line-height: 24px; margin: 30px auto 30px; color: #fff;}

.resources ul.terminal {                        width: 100%; display: flex; align-items: stretch; justify-content: space-between; text-align: center; border-top: 1px solid #cecece;} 
.resources ul.terminal li {                     font-weight: 900; display: inline-block; padding: 20px 20px 30px; margin: 0 40px -2px 0; text-align: center; cursor: pointer; border-bottom: 1px solid rgba(255,255,255,0); color: #cecece;}
.resources ul.terminal li:hover {               color: #0F0F10;}
.resources.bgBlue {                             padding: 100px 0; background-color:rgb(40,127,221,0.2);}
.resources .info {                              width: 80%; padding: 220px 0 0;}
.resources .info h3 {                           font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; text-transform: none; margin: 0 0 30px;}
.resources .info h1 {                           width: 55%; font-size: 36px; line-height: 52px; margin: 0 0 30px;}
.resources .info p {                            font-size: 16px; line-height: 24px; margin: 30px auto 30px;}
.resources .imgBox {                            background-color:#fff;}
.resources .imgBox .image {                     width: 100%; height: 450px; position: relative; overflow: hidden;}
.resources .imgBox .image img{                  width: 100%; position: absolute; top: 0; left: 0;  z-index: 55;}
.resources .imgBox .image svg{                  position: absolute; top: 0; left: 0; z-index: 1;}
.resources .imgBox ul {                         padding: 40px;}
.resources .imgBox ul li a {                    font-size: 16px; line-height: 26px; font-weight: 700; color: #0F0F10;}

.resources.knows {                              padding: 100px 0;}
.resources .know {                              width: 80%;}
.resources .know h3 {                           font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; text-transform: none; margin: 0 0 30px;}
.resources .know h1 {                           width: 55%; font-size: 36px; line-height: 52px; margin: 0 0 30px;}
.resources .know p {                            font-size: 16px; line-height: 24px; margin: 30px auto 30px;}