@media only screen and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 1) {     
    // HOME PAGE CALLOUT STYLES
    section.home {                                                 width: 100%; height: 100vh; position: relative;  background-color: #050236; overflow: hidden;
        video {                                           object-fit: contain; opacity: 0.9; object-position: -698px;}     
        .calloutbg {                                      width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; background-position: center; color: #332;}
        .callout {                               width: 90%; height: 500px; position: absolute; top: 350px; left: 5%;}
        .callout .calltext {                     width: 100%; display: block;}
        .callout .calltext h1 {                  font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size: 55px; line-height: 55px; font-weight: 900; color: #fff; margin: 0 0 30px;}
        .callout .calltext p {                   width: 90%; font-size: 18px; line-height: 26px; font-weight: 400; color: #fff; }
        .callout .callbutton {                   margin: 30px 0 0; text-align: center; display: block;}
    }
    
    /* CALLOUT BUTTONS */
    .button {                                       font-family: 'Montserrat', sans-serif; text-transform: uppercase; border-radius: 5px; font-weight: 900; line-height:52px; margin: 0 15px 0 0;}
    // HOME BUTTON STYLES
    .home .button {                                 width: 90%; display: inline-block; margin: 0 0 15px; line-height: 16px;}  

    // HOME PAGE WHO WE ARE STYLES
    section.whoWeAre {                              padding: 5%; display: flex; background-color: var(--navy);
        .text {                                     width: 100%; order: 1; margin: 0;
            h2 {                                        font-size: 38px; line-height: 38px; display: inline-block; color: var(--white);}
            h2 span {                                   display: inline-block; color: var(--blue);}
            p {                                         width: 100%; font-size: 24px; line-height: 36px; margin: 30px 0 40px; color: var(--white);}
        }
        .image {                                    width: 100%; margin: 0; order: 2;
            img {                                       width: 100%;}
        }
    }

    // HOME PAGE WHAT WE DO STYLES
    section.HomeWhatWeDo {                      padding: 5% 5% 0; display: flex; flex-flow: row wrap;
        .content {                                  width: 100%; order: 1;
            h3 {                                        font-size: 38px; margin: 0 0 15px;}
            h3 span {                                   display: inline-block; color: var(--blue);}
            p {                                         width: 90%; font-size: 24px; line-height: 32px; margin: 0 0 10px;}
            hr {                                        width: 90%; border: 1px solid var(--navy); margin: 30px 0;}
            a {                                         font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 32px; font-weight: 900; text-decoration: none; color: var(--navy);
                svg {                                       color: var(--red); }
            }
        }
        .image {                                    width: 100%; margin: 40px 0 0; order: 2;
            img {                                       width: 100%; height: auto; margin: 0 0 -3px;}
        }
    }
 
    // HOME RESOURCE PORTAL STYLES
    section.portal {                 background-color: var(--navy); padding: 5%;
        .text {                             margin: 0;
            h2 {                                font-size: 38px; line-height: 38px; font-weight: 900; text-transform: uppercase; color: var(--white);
                span {                              color: var(--blue);}
            }
            p {                                 font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 32px; padding: 20px 0 40px; font-weight: 400; color: var(--white);}
            h4 {                                font-size: 18px; color: var(--red);}
        }
        .deck {
            .cards {                            margin: 0 0 30px; border: 2px solid var(--white); border-radius: 15px; padding: 30px;}
        }
        .deck a {                                 color:var(--black); text-decoration: none;} 
        .ss360-custom-search {                    width: 100%; justify-content: left; margin: 0 0 50px; padding: 0;}
    }

    // HOME PAGE STORIES STYLES
    section.homestories {               padding: 5% 5% 0;
        .header h2 {                        font-size: 38px; line-height: 38px; text-transform: uppercase; padding: 0 0 20px; text-align: center; color: var(--navy);}
        .header h2 span {                   display: inline-block; color: var(--blue);}
        .header p {                         font-size: 24px; line-height: 32px; padding: 0; font-weight: 400; text-align: center; color: var(--navy);}
        .case {                             margin: 50px 0 0;}
        .rack {                             margin: 0;
            a {                                 text-decoration: none;}
            .frames {                           width: 100%; height: 100%; margin: 0 0 40px; position: relative;
                .frame {                            width: 100%; height: auto; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); position: relative; background-color: var(--gray);}
                .frame .image {                     width: 100%; height: 300px; margin: 0 0 -20px; }
                .frame .image video {               width: 100%; height: 100%; object-fit: cover;} 
                .frame .image img {                 width: 100%; height: 100%; border-radius: 15px; object-fit: cover;} 
                .frame .text {                      width: calc(100% - 40px); border-radius: 15px; padding: 20px;}
                .frame .text h1 {                   font-size: 20px; line-height: 20px; font-weight: 900; text-transform: none; padding: 15px 0 0; color: var(--navy); margin: 0;}
                .frame .text p {                    font-size: 16px; line-height: 26px; font-weight: 400; color: var(--navy); margin: 0;}
            }
            .frames:hover {                     transform: scale(1.03);}        
        } 
        .buttonwrap {                               margin: 0 0 10%;}
    }

    // HOME PAGE WHYNOW? SECTION STYLES
    .whyNow {                           background-color: var(--navy); padding: 10% 5%;
        .whyImage {                         width: 100%; height: 300px; background-size: cover; background-position: center; background-repeat: no-repeat;}
        .whyText {                          margin: 40px 0 60px; display: inline-block;
            h2 {                                font-size: 38px; line-height: 38px; font-weight: 900; margin: 0 0 30px; color: var(--white);}
            p {                                 font-size: 24px; line-height: 32px; font-weight: 400; margin: 0 0 30px; color: var(--white);}
        }   

        .whyTextWide {                      text-align: center; padding: 90px 0;
            h3 {                                font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 24px; text-transform: none; margin: 0 0 30px; color: var(--white);}
            h1 {                                font-size: 48px; line-height: 60px; font-weight: 700; margin: 0 0 30px; color: var(--white);}
            p {                                 width: 500px; font-size: 16px; line-height: 30px; font-weight: 400; margin: 0 auto 30px; color: var(--white);}
        }    

        .stats {                            padding: 0;
            .stat {                             display: block;
                .point {                            margin: 0 15px 30px; padding: 30px; position: relative; overflow: hidden; text-align: left; border: 2px solid var(--blue); border-radius: 5px;}
                .point h3 {                         font-family: 'Montserrat', sans-serif; font-size: 92px; line-height: 92px; font-weight: 900; color: var(--white); margin: 0 0 20px; text-transform: none;}
                .point p {                          height: 104px; font-size: 18px; line-height: 26px; font-weight: 400; color: var(--white); margin: 0; text-transform: none;}
            }
        }
    }

    // CLINICAL RESEARCH STYLES
    .research {                             width: 100%; margin: 5%; display: block;
        .panes {                                width: 100%; display: flex; flex-flow: row wrap; position: relative;}
        .image {                                width: 90%; display: block; order: 2;
            img {                                   width: 100%; margin: 0 0 30px;}
        }
        .heading {                              display: block; position: relative; top: 0; text-align: center; transform: none; left: 0; margin-left: 0; order: 1;
            h1 {                                    width: 90%; font-size: 38px; line-height: 38px; text-align: center; margin: 0 0 30px; color: var(--navy);}
        }
        .content {                          display: block; position: relative; text-align: center;
            .bg {                               width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; background-size: cover; background-repeat: no-repeat; opacity: 0.5;}
            .text {                             width: 90%; padding: 0; color: var(--navy); z-index: 9;
                h1 {                                font-size: 38px; line-height: 38px; color: var(--navy); opacity: 1; margin: 0 0 10px;}
                h1 span {                           color: var(--blue);}
                p {                                 font-size: 24px; line-height: 32px; font-weight: 400; color: var(--navy); margin: 0 0 30px;}
                .button {                           margin: 0;}
                .button.solid {                     background-color: var(--red);}
                .button.solid:hover {               background-color: var(--blue); color: var(--white);}
            }        
        }    
    }

    // HOME PAGE COVID-19 SECTION STYLES
    .covid {                            padding: 10% 5%; text-align: center; background-color: var(--navy);
        h2 {                                font-size: 38px; line-height: 38px; font-weight: 900; color: var(--white); margin: 0 0 20px;}
        h3 {                                font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 32px; font-weight: 900; color: var(--red); text-transform: none; padding: 0; margin: 0 0 30px;}
        .data {                             padding: 0 40px; margin: 0 0 40px;
            h4 {                                font-family: 'Montserrat', sans-serif; font-size: 54px; line-height: 54px; font-weight: 900; color: var(--white); margin: 0 0 10px; text-transform: none;}
            h4 span {                           color: var(--white);}
            p {                                 font-size: 14px; line-height: 20px; font-weight: 400; color: var(--blue); margin: 0 0 20px; text-transform: none;}
        }
        .data.border {                      border-right: none; border-bottom: 1px solid var(--white);}    
    }

    // SPONSOR STYLES
    .homepartners {                         padding: 10% 5%;
        .partner {                              padding: 0 0 50px;}
        h2 {                                    font-size: 38px; line-height: 38px; margin: 0; padding: 0 0 40px; text-align: center;}
        h2 span {                               display: inline-block; color: var(--blue);}
        .image {                                width: 100%; height: 200px; position: relative; 
            img {                                   width: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); filter: grayscale(100%);}
        }
        .image img:hover {                      filter: grayscale(0%);}
        .button {                               margin: 0;}
    }

    // JOIN COMMUNITY STYLES
    .homecommunity {                        position: relative; display: flex; flex-flow: row wrap; padding: 0 5%;
        .content {                          margin: 0;
            h2 {                                font-size: 38px; line-height: 38px; text-align: center; color: var(--navy);}
            p {                                 font-size: 24px; line-height: 32px; text-align: center; margin: 20px 0 30px; color: var(--navy);}
        }
        .buttonwrap {                               text-align: center; margin: 0 auto 0;}
        .image {                            width: 100%; margin: 40px 0 -3px;
            img {                               width: 100%;}
        }
        .right {                            margin: 75px 0 0;
            h3 {                                font-size: 32px; line-height: 32px; text-align: center; color: var(--navy);}
            h3 span {                           color: var(--blue);}
            ul {                                margin: 30px 0;}
            ul li {                             margin: 0 0 15px;}
            ul li svg {                         font-size: 18px; line-height: 18px; float: left; padding: 0 8px 0 0; color:var(--red);}
            ul li p {                           font-size: 18px; line-height: 18px; margin: 0; padding: 0;}
            span {                              color: var(--red); font-weight: 700; display: inline-block;}
        }
        .left {                             
            h3 {                           font-size: 32px; line-height: 32px; text-align: center; color: var(--navy);}
            p {                            font-size: 24px; line-height: 32px; text-align: center; margin: 20px 0 30px; color: var(--navy);}
            img {                          width: 55%; padding: 0 15px 20px 0; margin: 0 auto; display: block;}
        }
        .one {                                  width: 100%; order: 1;}
        .two {                                  width: 100%; order: 3;}
        .three {                                width: 100%; order: 2;}
    }

}



@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 1) { 
    // HOME PAGE WHO WE ARE STYLES
    section.whoWeAre {                              padding: 5%; display: flex; background-color: var(--navy);
        .text {                                     width: 100%; order: 1; margin: 0;
            h2 {                                        font-size: 30px; line-height: 30px; display: inline-block; color: var(--white);}
            h2 span {                                   display: inline-block; color: var(--blue);}
            p {                                         width: 100%; font-size: 20px; line-height: 28px; margin: 30px 0 40px; color: var(--white);}
        }
    }

    // HOME PAGE WHAT WE DO STYLES
    section.HomeWhatWeDo {                      padding: 5% 5% 0; display: flex; flex-flow: row wrap;
        .content {                                  width: 100%; order: 1;
            h3 {                                        font-size: 30px; margin: 0 0 15px;}
            p {                                         width: 90%; font-size: 20px; line-height: 28px; margin: 0 0 10px;}
            a {                                         font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 28px; font-weight: 900; text-decoration: none; color: var(--navy);
                svg {                                       color: var(--red); }
            }
        }
    }
 
    // HOME RESOURCE PORTAL STYLES
    section.portal {                 background-color: var(--navy); padding: 5%;
        .text {                             margin: 0;
            h2 {                                font-size: 38px; line-height: 38px; font-weight: 900; text-transform: uppercase; color: var(--white);
                span {                              color: var(--blue);}
            }
            p {                                 font-family: 'Montserrat', sans-serif; font-size: 24px; line-height: 32px; padding: 20px 0 40px; font-weight: 400; color: var(--white);}
            h4 {                                font-size: 18px; color: var(--red);}
        }
        .deck {
            .cards {                            margin: 0 0 30px; border: 2px solid var(--white); border-radius: 15px; padding: 20px;
                p  {                                height: 104px; font-size: 18px; margin: 0 0 10px; line-height: 26px; color: var(--white);}
            }
        }
    }

    // HOME PAGE STORIES STYLES
    section.homestories {               padding: 5% 5% 0;
        .header h2 {                        font-size: 30px; line-height: 30px; text-transform: uppercase; padding: 0 0 20px; text-align: center; color: var(--navy);}
        .header h2 span {                   display: inline-block; color: var(--blue);}
        .header p {                         font-size: 20px; line-height: 28px; padding: 0; font-weight: 400; text-align: center; color: var(--navy);}
        .case {                             margin: 50px 0 0;}
        .rack {                             margin: 0;
            a {                                 text-decoration: none;}
            .frames {                           width: 100%; height: 100%; margin: 0 0 40px; position: relative;
                .frame {                            width: 100%; height: auto; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); position: relative; background-color: var(--gray);}
                .frame .image {                     width: 100%; height: 250px; margin: 0 0 -20px; }
                .frame .image video {               width: 100%; height: 100%; object-fit: cover;} 
                .frame .image img {                 width: 100%; height: 100%; border-radius: 15px; object-fit: cover;} 
                .frame .text {                      width: calc(100% - 40px); border-radius: 15px; padding: 20px;}
                .frame .text h1 {                   font-size: 20px; line-height: 20px; font-weight: 900; text-transform: none; padding: 15px 0 0; color: var(--navy); margin: 0;}
                .frame .text p {                    font-size: 16px; line-height: 26px; font-weight: 400; color: var(--navy); margin: 0;}
            }
            .frames:hover {                     transform: scale(1.03);}        
        } 
        .buttonwrap {                               margin: 0 0 10%;}
    }

    // HOME PAGE WHYNOW? SECTION STYLES
    .whyNow {                           background-color: var(--navy); padding: 10% 5%;
        .whyImage {                         width: 100%; height: 300px; background-size: cover; background-position: center; background-repeat: no-repeat;}
        .whyText {                          margin: 40px 0 60px; display: inline-block;
            h2 {                                font-size: 30px; line-height: 30px; font-weight: 900; margin: 0 0 30px; color: var(--white);}
            p {                                 font-size: 20px; line-height: 28px; font-weight: 400; margin: 0 0 30px; color: var(--white);}
        }   

        .whyTextWide {                      text-align: center; padding: 50px 0;
            h3 {                                font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 24px; text-transform: none; margin: 0 0 30px; color: var(--white);}
            h1 {                                font-size: 36px; line-height: 48px; font-weight: 700; margin: 0 0 30px; color: var(--white);}
            p {                                 width: 500px; font-size: 16px; line-height: 30px; font-weight: 400; margin: 0 auto 30px; color: var(--white);}
        }    

        .stats {                            padding: 0;
            .stat {                             display: block;
                .point {                            margin: 0 15px 30px; padding: 30px; position: relative; overflow: hidden; text-align: left; border: 2px solid var(--blue); border-radius: 5px;}
                .point h3 {                         font-family: 'Montserrat', sans-serif; font-size: 92px; line-height: 92px; font-weight: 900; color: var(--white); margin: 0 0 20px; text-transform: none;}
                .point p {                          height: 130px; font-size: 18px; line-height: 26px; font-weight: 400; color: var(--white); margin: 0; text-transform: none;}
            }
        }
    }

    // CLINICAL RESEARCH STYLES
    .research {                             width: 100%; margin: 5%; display: block;
        .panes {                                width: 100%; display: flex; flex-flow: row wrap; position: relative;}
        .image {                                width: 90%; display: block; order: 2;
            img {                                   width: 100%; margin: 0 0 30px;}
        }
        .heading {                              display: block; position: relative; top: 0; text-align: center; transform: none; left: 0; margin-left: 0; order: 1;
            h1 {                                    width: 90%; font-size: 30px; line-height: 30px; text-align: center; margin: 0 0 30px; color: var(--navy);}
        }
        .content {                          display: block; position: relative; text-align: center;
            .bg {                               width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; background-size: cover; background-repeat: no-repeat; opacity: 0.5;}
            .text {                             width: 90%; padding: 0; color: var(--navy); z-index: 9;
                h1 {                                font-size: 30px; line-height: 30px; color: var(--navy); opacity: 1; margin: 0 0 10px;}
                h1 span {                           color: var(--blue);}
                p {                                 font-size: 20px; line-height: 28px; font-weight: 400; color: var(--navy); margin: 0 0 30px;}
                .button {                           margin: 0;}
                .button.solid {                     background-color: var(--red);}
                .button.solid:hover {               background-color: var(--blue); color: var(--white);}
            }        
        }    
    }

    // HOME PAGE COVID-19 SECTION STYLES
    .covid {                            padding: 10% 5%; text-align: center; background-color: var(--navy);
        h2 {                                font-size: 30px; line-height: 30px; font-weight: 900; color: var(--white); margin: 0 0 20px;}
        h3 {                                font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 28px; font-weight: 900; color: var(--red); text-transform: none; padding: 0; margin: 0 0 30px;}
        .data {                             padding: 0 40px; margin: 0 0 40px;
            h4 {                                font-family: 'Montserrat', sans-serif; font-size: 54px; line-height: 54px; font-weight: 900; color: var(--white); margin: 0 0 10px; text-transform: none;}
            h4 span {                           color: var(--white);}
            p {                                 font-size: 14px; line-height: 20px; font-weight: 400; color: var(--blue); margin: 0 0 20px; text-transform: none;}
        }
        .data.border {                      border-right: none; border-bottom: 1px solid var(--white);}    
    }

    // JOIN COMMUNITY STYLES
    .homecommunity {                        position: relative; display: flex; flex-flow: row wrap; padding: 0 5%;
        .content {                          margin: 0;
            h2 {                                font-size: 30px; line-height: 30px; text-align: center; color: var(--navy);}
            p {                                 font-size: 20px; line-height: 28px; text-align: center; margin: 20px 0 30px; color: var(--navy);}
        }
        .buttonwrap {                               text-align: center; margin: 0 auto 0;}
        .image {                            width: 100%; margin: 40px 0 -3px;
            img {                               width: 100%;}
        }
        .right {                            margin: 75px 0 0;
            h3 {                                font-size: 30px; line-height: 30px; text-align: center; color: var(--navy);}
            h3 span {                           color: var(--blue);}
            ul {                                margin: 30px 0;}
            ul li {                             margin: 0 0 15px;}
            ul li svg {                         font-size: 18px; line-height: 18px; float: left; padding: 0 8px 0 0; color:var(--red);}
            ul li p {                           font-size: 18px; line-height: 18px; margin: 0; padding: 0;}
            span {                              color: var(--red); font-weight: 700; display: inline-block;}
        }
        .left {                             
            h3 {                           font-size: 30px; line-height: 30px; text-align: center; color: var(--navy);}
            p {                            font-size: 20px; line-height: 28px; text-align: center; margin: 20px 0 30px; color: var(--navy);}
            img {                          width: 55%; padding: 0 15px 20px 0; margin: 0 auto; display: block;}
        }
        .one {                                  width: 100%; order: 1;}
        .two {                                  width: 100%; order: 3;}
        .three {                                width: 100%; order: 2;}
    }
}