@media only screen and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 1) { 
    /* BLOG SCSS
    ================================================== */
    // HERO STYLES
    #hero.hero.par {                                
        .callout {                      width: 90%; margin: 70px 5% 5%;
            .image {                    width: 100%; display: inline-block;
                img {                       width: 100%;}
            }
            .text {                     margin: 0; display: inline-block; margin: 30px 0 0;
                h1 {                        font-size: 54px; line-height: 54px;}
                p {                         width: 100%;}
            }
        }
    }

    // CONTENT STYLES
    section.intro.part {                margin: 5% 5% 0;
        .text {                             padding: 0;
            h2 {                                font-size: 36px; line-height: 44px; margin: 0 0 10px;
                span {                              color: var(--blue);}
            }
            p {                                 font-size: 24px; line-height: 32px; margin: 0 0 50px;}
        }
        .image {                            width: 100%;
            img {                               width: 100%; margin: 0 0 -3px;}
        }
    }

    // COMMITMENT STYLES
    section.commitment {                            padding: 5%; background-color: var(--navy);
        .image {                                        width: 100%;
            img {                                           width: 100%; margin: 0 0 -3px;}
        }
        .text {                                      height: 100%; padding: 30px 0;
            h2 {                                        font-size: 36px; line-height: 44px; margin: 0 0 10px; color: var(--white);
                span {                                      display: inline-block; color: var(--blue);}
            }
            p {                                         width: 100%; font-size: 24px; padding: 0; line-height: 32px; color: var(--white);}
        }
    }

    // HOVER GRID STYLES
    section.featured {                      padding: 50px 5% 0; background-color: #fff;
        .header {                               text-align: center;
            h2 {                                    font-size: 36px; line-height: 44px; color: var(--navy);
                span {                                  display: inline-block; color: var(--blue);}
            }
            p {                                     font-size: 18px; line-height: 26px; margin: 30px 0 50px; color: #050236;}
        }
        .panel {                                margin: 0;
            .bottom {                               width: 16.3333333%; float: left; visibility: hidden; background-color: #f09;}
            .frame {                                width: 100%; margin: 0 0 30px; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: var(--gray);
                .panes {                                width: 100%; height: 300px; background-size: 60%; background-position: center; background-repeat: no-repeat; border-radius: 10px; background-color: #fff; opacity: 1; z-index: 77; filter: grayscale(0%);}                
            }
        }   
    }

    // HEALTH-TECH CORP STYLES
    .healthTech {                                   margin: 5%;
        .header {                                           
            h2 {                                            font-size: 36px; line-height: 44px; margin: 0 0 10px; text-align: center;
                span {                                          color: var(--blue);}
            }  
        }
        .panel a {                                      text-decoration: none;}
        
        .card {                                     width: 100%; height: auto; margin: 0 0 40px; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: var(--gray);
            .image {               width: 100%; height: 300px; border-radius: 15px; background-repeat: no-repeat; background-size: 60%; background-position: center; display: inline-block; background-color: var(--white);}
            .text {                width: calc(100% - 60px); height: auto; padding: 30px; float: none;}
            .text h3 {             font-size: 26px; line-height: 26px; font-weight: 700; color: var(--navy); margin: 0;}
            .text p {              font-size: 16px; line-height: 22px; font-weight: 300; border: none; padding: 10px 0 20px; color: var(--navy); margin: 0;}
            .text p.link {              font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 20px; font-weight: 700; border: none; padding: 0; text-decoration: none; color: #050236; margin: 0;}
            .text p.link svg {          font-size: 18px; line-height: 20px; color: var(--red);}
        }    
        .card:hover {                      transform: scale(1.03);}    
    }

    .homies {                                           margin: 5%;
        .heading {                              margin: 0 0 50px;}
        .heading h2 {                           font-size: 32px; line-height: 40px; margin: 0; color: var(--navy);}
        .heading h2 span {                      display: inline-block; }
        .heading p {                            font-size: 16px; line-height: 26px; font-weight: 700; margin: 0; color: var(--blue);}
        .content {                              margin: 0 50px 0 0;}
        .content h3 {                           font-size: 26px; line-height: 34px; text-transform: none; margin: 0 0 3px;}
        .content h4 {                           font-size: 22px; line-height: 22px; margin: 0 0 3px;}
        .content p {                            font-size: 20px; line-height: 28px; margin: 0 0 30px;}
        .content p span {                       font-weight: 700; color: #CA1D48;}
        .image {                                height: 250px; border: 2px solid #050236; margin: 30px 0; border-radius: 15px; overflow: hidden;}
        .contact {                              padding: 20px; border-radius: 15px; background-color: var(--gray);
            h4 {                           font-size: 26px; line-height: 26px; text-transform: none; margin: 0 0 3px;}
            p {                            font-size: 20px; line-height: 28px; margin: 0 0 30px;}
            p span {                       font-weight: 700; color: #CA1D48;}
        }
    }

    // SHARE YOUR STORY STYLES
    section.partwithus {                     margin: 0 5% 0; display: flex; flex-flow: row wrap;                   
        .container {                             border-radius: 5px;}
        .image {                                 width: 100%; height: auto; margin: 40px 0 0; order: 2;}
        .image img {                             width: 100%; height: auto; padding: 0; margin: 0 0 -3px;}
        .text {                                  width: 100%; height: auto; margin: 0; order: 1;}
        .text h2 {                               font-size: 38px; line-height: 38px; text-transform: uppercase; text-align: center; margin: 30px 0 30px; color: var(--navy);
            span {                                  color: var(--blue);}
        }
        .text p {                                font-family: 'DM Sans', sans-serif; font-size: 24px; line-height: 32px; text-align: center; margin: 0 0 30px; font-weight: 700; color: var(--navy); }
        .button {                                margin: 0 0 0 60px; text-align: left;}
    }
}


@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 1) { 
    /* BLOG SCSS
    ================================================== */
    // HERO STYLES
    #hero.hero.par {                                
        .callout {                      width: 90%; margin: 70px 5% 5%;
            .image {                    width: 100%; display: inline-block;
                img {                       width: 100%;}
            }
            .text {                     margin: 0; display: inline-block; margin: 30px 0 0;
                h1 {                        font-size: 44px; line-height: 44px;}
                p {                         font-size: 20px; line-height: 28px; width: 100%;}
            }
        }
    }

    // CONTENT STYLES
    section.intro.part {                margin: 5% 5% 0;
        .text {                             padding: 0;
            h2 {                                font-size: 30px; line-height: 38px; margin: 0 0 10px;
                span {                              color: var(--blue);}
            }
            p {                                 font-size: 20px; line-height: 28px; margin: 0 0 50px;}
        }
        .image {                            width: 100%;
            img {                               width: 100%; margin: 0 0 -3px;}
        }
    }

    // COMMITMENT STYLES
    section.commitment {                            padding: 5%; background-color: var(--navy);
        .image {                                        width: 100%;
            img {                                           width: 100%; margin: 0 0 -3px;}
        }
        .text {                                      height: 100%; padding: 30px 0;
            h2 {                                        font-size: 30px; line-height: 38px; margin: 0 0 10px; color: var(--white);
                span {                                      display: inline-block; color: var(--blue);}
            }
            p {                                         width: 100%; font-size: 20px; padding: 0; line-height: 28px; color: var(--white);}
        }
    }

    // HOVER GRID STYLES
    section.featured {                      padding: 50px 5% 0; background-color: #fff;
        .header {                               text-align: center;
            h2 {                                    font-size: 30px; line-height: 38px; color: var(--navy);
                span {                                  display: inline-block; color: var(--blue);}
            }
            p {                                     font-size: 18px; line-height: 26px; margin: 30px 0 50px; color: #050236;}
        }
        .panel {                                margin: 0;
            .bottom {                               width: 16.3333333%; float: left; visibility: hidden; background-color: #f09;}
            .frame {                                width: 100%; margin: 0 0 30px; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: var(--gray);
                .panes {                                width: 100%; height: 300px; background-size: 60%; background-position: center; background-repeat: no-repeat; border-radius: 10px; background-color: #fff; opacity: 1; z-index: 77; filter: grayscale(0%);}                
            }
        }   
    }

    // HEALTH-TECH CORP STYLES
    .healthTech {                                   margin: 5%;
        .header {                                           
            h2 {                                            font-size: 36px; line-height: 44px; margin: 0 0 10px; text-align: center;
                span {                                          color: var(--blue);}
            }  
        }
        .panel a {                                      text-decoration: none;}
        
        .card {                                     width: 100%; height: auto; margin: 0 0 40px; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: var(--gray);
            .image {               width: 100%; height: 300px; border-radius: 15px; background-repeat: no-repeat; background-size: 60%; background-position: center; display: inline-block; background-color: var(--white);}
            .text {                width: calc(100% - 60px); height: auto; padding: 30px; float: none;}
            .text h3 {             font-size: 26px; line-height: 26px; font-weight: 700; color: var(--navy); margin: 0;}
            .text p {              font-size: 16px; line-height: 22px; font-weight: 300; border: none; padding: 10px 0 20px; color: var(--navy); margin: 0;}
            .text p.link {              font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 20px; font-weight: 700; border: none; padding: 0; text-decoration: none; color: #050236; margin: 0;}
            .text p.link svg {          font-size: 18px; line-height: 20px; color: var(--red);}
        }    
        .card:hover {                      transform: scale(1.03);}    
    }

    .homies {                                           margin: 5%;
        .heading {                              margin: 0 0 50px;}
        .heading h2 {                           font-size: 30px; line-height: 38px; margin: 0; color: var(--navy);}
        .heading h2 span {                      display: inline-block; }
        .heading p {                            font-size: 20px; line-height: 28px; font-weight: 700; margin: 0; color: var(--blue);}
        .content {                              margin: 0 50px 0 0;}
        .content h3 {                           font-size: 26px; line-height: 34px; text-transform: none; margin: 0 0 3px;}
        .content h4 {                           font-size: 22px; line-height: 22px; margin: 0 0 3px;}
        .content p {                            font-size: 20px; line-height: 28px; margin: 0 0 30px;}
        .content p span {                       font-weight: 700; color: #CA1D48;}
        .image {                                height: 250px; border: 2px solid #050236; margin: 30px 0; border-radius: 15px; overflow: hidden;}
        .contact {                              padding: 20px; border-radius: 15px; background-color: var(--gray);
            h4 {                           font-size: 26px; line-height: 26px; text-transform: none; margin: 0 0 3px;}
            p {                            font-size: 20px; line-height: 28px; margin: 0 0 30px;}
            p span {                       font-weight: 700; color: #CA1D48;}
        }
    }

    // SHARE YOUR STORY STYLES
    section.partwithus {                     margin: 0 5% 0; display: flex; flex-flow: row wrap;                   
        .container {                             border-radius: 5px;}
        .image {                                 width: 100%; height: auto; margin: 40px 0 0; order: 2;}
        .image img {                             width: 100%; height: auto; padding: 0; margin: 0 0 -3px;}
        .text {                                  width: 100%; height: auto; margin: 0; order: 1;}
        .text h2 {                               font-size: 38px; line-height: 38px; text-transform: uppercase; text-align: center; margin: 30px 0 30px; color: var(--navy);
            span {                                  color: var(--blue);}
        }
        .text p {                                font-family: 'DM Sans', sans-serif; font-size: 24px; line-height: 32px; text-align: center; margin: 0 0 30px; font-weight: 700; color: var(--navy); }
        .button {                                margin: 0 0 0 25px; text-align: left;}
    }
}