@media only screen and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 1) { 
    /* BLOG SCSS
    ================================================== */
    // HERO STYLES
    #hero.hero.tri {                                
        .callout {                      width: 90%; margin: 70px 5% 5%;
            .image {                    width: 100%; display: inline-block;
                img {                       width: 100%;}
            }
            .text {                     margin: 0; display: inline-block; margin: 30px 0 0;
                h1 {                        font-size: 54px; line-height: 54px;}
                p {                         width: 100%;}
            }
        }
    }

    // CONTENT STYLES
    section.intro.tria {                margin: 0 5% 0;
        .text {                             width: 100%; padding: 0; display: inline-block;
            h2 {                                font-size: 32px; line-height: 40px; margin: 0 0 10px;
                span {                              color: var(--blue);}
            }
            p {                                 font-size: 24px; line-height: 32px; margin: 0 0 50px;}
        }
        .image {                            width: 100%; display: inline-block;
            img {                               width: 100%; margin: 0;}        
        }
    }

    section.participate {               margin: 0 5% 100px;
        .card {                            height: auto; display: flex; flex-flow: row wrap; margin: 0 0 30px;
            .image {                           width: 100%; float: left; order: 2;
                img {                               width: 100%; border-radius: 15px;}
            }
            .text {                            width: 100%; float: right; margin: 0; padding: 40px 0; order: 1;
                h2 {                                font-size: 38px; line-height: 38px; margin: 0 0 20px; color: var(--navy);
                    span {                              display: inline-block; color: var(--blue);}
                }
                p {                                 font-size: 24px; line-height: 32px; font-weight: 400; margin: 0 0 30px; color: var(--navy);}
                a {                                 font-size: 24px; line-height: 24px; font-weight: 700; text-decoration: none; color: var(--navy);}
                a svg {                             color: #CA1D48;}
            }   
        }
    }

    section.search {                            margin: 0 0 50px; padding: 5%; background-color: var(--navy);
        .image {                                        width: 100%;
            img {                                           width: 100%; margin: 0 0 -3px;}
        }
        .text {                                      height: 100%; padding: 30px 0 0;
            h2 {                                        font-size: 32px; line-height: 40px; text-align: center; margin: 0 0 10px; color: var(--white);
                span {                                      display: inline-block; color: var(--blue);}
            }
            p {                                         width: 100%; font-size: 24px; line-height: 32px; text-align: center; margin: 0 0 30px; color: var(--white);}
            .form {                                         width: 100%; height: 70px; margin: 0 0 35px; display: block; text-align: center;
                input {                                     width: calc(100% - 115px); height: 66px; padding: 0 20px; font-size: 26px; font-weight: 300; line-height: 28px; display: block; float: left;  border: 2px solid var(--red); border-radius:  15px 0 0 15px; background-color: var(--white);}
                a {                                         width: 70px; height: 50px; padding: 20px 0 0; display: block; border-radius: 0 15px 15px 0; float: left; background-color: var(--red); color: #fff;}
                a svg {                                     font-size: 32px; line-height: 50px; text-align: center; }
                a:hover svg {                               color: #CA1D48;}
            }        
        }
    }

    // JOIN COMMUNITY STYLES
    .trialcomm {                        position: relative; padding: 0 10%;
        .content {                          margin: 75px 50px 0 0;
            h2 {                                font-size: 54px; line-height: 54px; color: var(--navy);}
            p {                                 font-size: 24px; line-height: 32px; margin: 20px 0 30px; color: var(--navy);}
        }
        .image {                            width: 95%; margin: 0 0 -3px;}
        .right {                            margin: 75px 0 0;
            h3 {                                font-size: 44px; line-height: 44px; color: var(--navy);}
            ul {                                margin: 30px 0;}
            ul li {                             margin: 0 0 15px;}
            ul li svg {                         font-size: 24px; line-height: 24px; float: left; padding: 0 8px 0 0; color:var(--red);}
            ul li p {                           font-size: 24px; line-height: 24px; margin: 0; padding: 0;}
            span {                              color: var(--red); font-weight: 700; display: inline-block;}
        }
        .left {                             
            h3 {                           font-size: 44px; line-height: 44px; color: var(--navy);}
            p {                            font-size: 24px; line-height: 32px; margin: 20px 0 30px; color: var(--navy);}
            img {                          width: 35%; padding: 0 15px 0 0; display: inline-block;}
        }
    }

    /* RESULTS PAGE SCSS STYLES
    ============================================================== */
    section.results {                   margin: 0 5% 0;
        .info {                            margin: 0 0 30px; font-weight: 500; color: var(--navy);}
        .panels {                          margin: 0 0 80px;
            .panel {                           margin: 0 0 40px; padding: 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); border-radius: 15px; background-color: var(--white);
                .text {                     width: calc(100% - 40px); padding: 20px; height: 100%; border-radius: 15px; background-color: var(--gray);
                    h1 {                        font-family: 'DM Sans', sans-serif; margin: 0 40px 20px 0; font-size: 24px; line-height: 32px; font-weight: 700; text-transform: none; color: var(--blue);}
                    p {                         font-size: 18px; line-height: 26px; margin: 0 0 30px; color: var(--navy);}
                    p.type {                    line-height: 26px; margin: 0; font-weight: 700; color: var(--navy);}
                }
                ul {                        margin: 20px;
                    h3 {                        font-family: 'DM Sans', sans-serif; font-size: 24px; font-weight: 700; text-transform: none; line-height: 40px; margin: 0 0 10px; color: var(--navy);}            
                    li {                     margin: 0 0 10px 0; font-size: 16px; line-height: 21px; font-weight: 500; color: #000;
                        svg {                 width: 16px; height: 16px; font-size: 16px; margin: 0 5px 0 0; text-align: center; color: #ca1d48;}
                    } 
                }
                
                p.button {                  font-family: 'Montserrat', sans-serif; padding: 10px 15px; margin: 0 0 20px 20px; font-size: 16px; font-weight: 900; display: inline-block; line-height: 28px; text-decoration: none; color: #fff; background-color: #ca1d48;}
                p.button:hover {            color: #0F0F10; background-color: #F3E454;}
            }
            .panel:hover {                     transform: scale(1.010); z-index: 1;}
            
        }
        
        .return {                          text-align: center;}
        .return p.button {                 padding: 10px 45px; display: inline-block; font-size: 16px; line-height: 28px; font-weight: 500; text-decoration: none; color: #fff; background-color: #ca1d48;}
        .return p.button:hover {           color: #0F0F10; background-color: #F3E454;}
    }
    .results.space {                            padding: 0 0 100px;}

    .study.space {                              padding: 0 0 100px;}
    .study {                                    
        .callout {                              margin: 0 5% 0; position: relative; background: center; background-size: cover; background-color: #fff;
            h1 {                                    width: 90%; font-family: 'DM Sans', sans-serif; font-size: 32px; line-height: 40px; margin: 0 0 18px; font-weight: 700; text-transform: none; color: var(--navy);}
            p {                                     font-weight: 500; color: #0F0F10;}
        }
        .head {                              height: 60px; margin: 20px 5% 0;
            .info {                              float: left; font-weight: 500; color: #1A3667;}
            .info a {                            text-decoration: none; text-transform: capitalize; color: #0F0F10;}
            .info svg {                          color: #ca1d48;}
            .bread {                             float: left; font-weight: 500; margin: 20px 0 0; color: #1A3667;}
            .bread a {                           text-decoration: none; text-transform: capitalize; color: #0F0F10;}
            .info a:hover, .bread a:hover {                      color: #ca1d48;}
        }
        
        // .panel {                             padding: 20px 10px 20px 20px; margin: 0 0 10px;}
        .panel {                             padding: 30px 0; margin: 0 5% 40px; background-color: #fff;}
        .panel h1 {                          font-family: 'DM Sans', sans-serif; margin: 0 0 10px; font-size: 32px; line-height: 40px; font-weight: 700; text-transform: none; color: var(--blue);}
        .panel h3 {                          font-family: 'DM Sans', sans-serif; margin: 0 0 5px; font-size: 28px; line-height: 36px; font-weight: 700; text-transform: none; color: var(--navy);}
        .panel p {                           margin: 0 0 30px; font-size: 18px; line-height: 26px; color: var(--navy);}
        .panel p.type {                      margin: 0; font-weight: 500;}
        .details {                              padding: 20px; border-radius: 15px; background-color: var(--gray);}
        .panel ul {                          margin: 5px 0 40px;}
        .panel ul li {                       margin: 0 0 10px 0; height: 24px; padding: 0 0 10px 5px; font-size: 16px; line-height: 28px; font-weight: 500; color: #000;}
        .panel  svg {                   width: 19px; height: 19px; padding: 4px 0 0; font-size: 24px; margin: 0 5px 0 0; display: inline-block; text-align: center; color: #ca1d48;}
        .return {                          text-align: center;}
        .return a.button {                 font-family: 'Montserrat', sans-serif; padding: 10px 45px; margin: 40px 0 0; display: inline-block; font-size: 16px; line-height: 28px; font-weight: 900; text-decoration: none; color: #fff; background-color: #ca1d48;}
        .return a.button:hover {           color: var(--black); background-color: var(--gold);}
        h3.contact {                         margin: 0; color: #ca1d48;}
        p.contact {                        font-size: 16px; line-height: 24px; font-weight: 500; color: #000;}
    }
}


@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 1) { 
    /* BLOG SCSS
    ================================================== */
    // HERO STYLES
    #hero.hero.tri {                                
        .callout {                      width: 90%; margin: 70px 5% 5%;
            .image {                    width: 100%; display: inline-block;
                img {                       width: 100%;}
            }
            .text {                     margin: 0; display: inline-block; margin: 30px 0 0;
                h1 {                        font-size: 44px; line-height: 44px;}
                p {                         font-size: 20px; line-height: 28px; width: 100%;}
            }
        }
    }

    // CONTENT STYLES
    section.intro.tria {                margin: 0 5% 0;
        .text {                             width: 100%; padding: 0; display: inline-block;
            h2 {                                font-size: 30px; line-height: 38px; margin: 0 0 10px;
                span {                              color: var(--blue);}
            }
            p {                                 font-size: 20px; line-height: 28px; margin: 0 0 50px;}
        }
        .image {                            width: 100%; display: inline-block;
            img {                               width: 100%; margin: 0;}        
        }
    }

    section.participate {               margin: 0 5% 100px;
        .card {                            height: auto; display: flex; flex-flow: row wrap; margin: 0 0 30px;
            .image {                           width: 100%; float: left; order: 2;
                img {                               width: 100%; border-radius: 15px;}
            }
            .text {                            width: 100%; float: right; margin: 0; padding: 40px 0; order: 1;
                h2 {                                font-size: 30px; line-height: 30x; margin: 0 0 20px; color: var(--navy);
                    span {                              display: inline-block; color: var(--blue);}
                }
                p {                                 font-size: 20px; line-height: 28px; font-weight: 400; margin: 0 0 30px; color: var(--navy);}
                a {                                 font-size: 20px; line-height: 20px; font-weight: 700; text-decoration: none; color: var(--navy);}
                a svg {                             color: #CA1D48;}
            }   
        }
    }

    section.search {                            margin: 0 0 50px; padding: 5%; background-color: var(--navy);
        .image {                                        width: 100%;
            img {                                           width: 100%; margin: 0 0 -3px;}
        }
        .text {                                      height: 100%; padding: 30px 0 0;
            h2 {                                        font-size: 32px; line-height: 40px; text-align: center; margin: 0 0 10px; color: var(--white);
                span {                                      display: inline-block; color: var(--blue);}
            }
            p {                                         width: 100%; font-size: 24px; line-height: 32px; text-align: center; margin: 0 0 30px; color: var(--white);}
            .form {                                         width: 100%; height: 70px; margin: 0 0 35px; display: block; text-align: center;
                input {                                     width: calc(100% - 115px); height: 66px; padding: 0 20px; font-size: 26px; font-weight: 300; line-height: 28px; display: block; float: left;  border: 2px solid var(--red); border-radius:  15px 0 0 15px; background-color: var(--white);}
                a {                                         width: 70px; height: 50px; padding: 20px 0 0; display: block; border-radius: 0 15px 15px 0; float: left; background-color: var(--red); color: #fff;}
                a svg {                                     font-size: 32px; line-height: 50px; text-align: center; }
                a:hover svg {                               color: #CA1D48;}
            }        
        }
    }

    // JOIN COMMUNITY STYLES
    .trialcomm {                        position: relative; padding: 0 10%;
        .content {                          margin: 75px 50px 0 0;
            h2 {                                font-size: 54px; line-height: 54px; color: var(--navy);}
            p {                                 font-size: 24px; line-height: 32px; margin: 20px 0 30px; color: var(--navy);}
        }
        .image {                            width: 95%; margin: 0 0 -3px;}
        .right {                            margin: 75px 0 0;
            h3 {                                font-size: 44px; line-height: 44px; color: var(--navy);}
            ul {                                margin: 30px 0;}
            ul li {                             margin: 0 0 15px;}
            ul li svg {                         font-size: 24px; line-height: 24px; float: left; padding: 0 8px 0 0; color:var(--red);}
            ul li p {                           font-size: 24px; line-height: 24px; margin: 0; padding: 0;}
            span {                              color: var(--red); font-weight: 700; display: inline-block;}
        }
        .left {                             
            h3 {                           font-size: 44px; line-height: 44px; color: var(--navy);}
            p {                            font-size: 24px; line-height: 32px; margin: 20px 0 30px; color: var(--navy);}
            img {                          width: 35%; padding: 0 15px 0 0; display: inline-block;}
        }
    }

    /* RESULTS PAGE SCSS STYLES
    ============================================================== */
    section.results {                   margin: 0 5% 0;
        .info {                            margin: 0 0 30px; font-weight: 500; color: var(--navy);}
        .panels {                          margin: 0 0 80px;
            .panel {                           margin: 0 0 40px; padding: 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); border-radius: 15px; background-color: var(--white);
                .text {                     width: calc(100% - 40px); padding: 20px; height: 100%; border-radius: 15px; background-color: var(--gray);
                    h1 {                        font-family: 'DM Sans', sans-serif; margin: 0 40px 20px 0; font-size: 24px; line-height: 32px; font-weight: 700; text-transform: none; color: var(--blue);}
                    p {                         font-size: 18px; line-height: 26px; margin: 0 0 30px; color: var(--navy);}
                    p.type {                    line-height: 26px; margin: 0; font-weight: 700; color: var(--navy);}
                }
                ul {                        margin: 20px;
                    h3 {                        font-family: 'DM Sans', sans-serif; font-size: 24px; font-weight: 700; text-transform: none; line-height: 40px; margin: 0 0 10px; color: var(--navy);}            
                    li {                     margin: 0 0 10px 0; font-size: 16px; line-height: 21px; font-weight: 500; color: #000;
                        svg {                 width: 16px; height: 16px; font-size: 16px; margin: 0 5px 0 0; text-align: center; color: #ca1d48;}
                    } 
                }
                
                p.button {                  font-family: 'Montserrat', sans-serif; padding: 10px 15px; margin: 0 0 20px 20px; font-size: 16px; font-weight: 900; display: inline-block; line-height: 28px; text-decoration: none; color: #fff; background-color: #ca1d48;}
                p.button:hover {            color: #0F0F10; background-color: #F3E454;}
            }
            .panel:hover {                     transform: scale(1.010); z-index: 1;}
            
        }
        
        .return {                          text-align: center;}
        .return p.button {                 padding: 10px 45px; display: inline-block; font-size: 16px; line-height: 28px; font-weight: 500; text-decoration: none; color: #fff; background-color: #ca1d48;}
        .return p.button:hover {           color: #0F0F10; background-color: #F3E454;}
    }
    .results.space {                            padding: 0 0 100px;}

    .study.space {                              padding: 0 0 100px;}
    .study {                                    
        .callout {                              margin: 0 5% 0; position: relative; background: center; background-size: cover; background-color: #fff;
            h1 {                                    width: 90%; font-family: 'DM Sans', sans-serif; font-size: 32px; line-height: 40px; margin: 0 0 18px; font-weight: 700; text-transform: none; color: var(--navy);}
            p {                                     font-weight: 500; color: #0F0F10;}
        }
        .head {                              height: 60px; margin: 20px 5% 0;
            .info {                              float: left; font-weight: 500; color: #1A3667;}
            .info a {                            text-decoration: none; text-transform: capitalize; color: #0F0F10;}
            .info svg {                          color: #ca1d48;}
            .bread {                             float: left; font-weight: 500; margin: 20px 0 0; color: #1A3667;}
            .bread a {                           text-decoration: none; text-transform: capitalize; color: #0F0F10;}
            .info a:hover, .bread a:hover {                      color: #ca1d48;}
        }
        
        // .panel {                             padding: 20px 10px 20px 20px; margin: 0 0 10px;}
        .panel {                             padding: 30px 0; margin: 0 5% 40px; background-color: #fff;}
        .panel h1 {                          font-family: 'DM Sans', sans-serif; margin: 0 0 10px; font-size: 32px; line-height: 40px; font-weight: 700; text-transform: none; color: var(--blue);}
        .panel h3 {                          font-family: 'DM Sans', sans-serif; margin: 0 0 5px; font-size: 28px; line-height: 36px; font-weight: 700; text-transform: none; color: var(--navy);}
        .panel p {                           margin: 0 0 30px; font-size: 18px; line-height: 26px; color: var(--navy);}
        .panel p.type {                      margin: 0; font-weight: 500;}
        .details {                              padding: 20px; border-radius: 15px; background-color: var(--gray);}
        .panel ul {                          margin: 5px 0 40px;}
        .panel ul li {                       margin: 0 0 10px 0; height: 24px; padding: 0 0 10px 5px; font-size: 16px; line-height: 28px; font-weight: 500; color: #000;}
        .panel  svg {                   width: 19px; height: 19px; padding: 4px 0 0; font-size: 24px; margin: 0 5px 0 0; display: inline-block; text-align: center; color: #ca1d48;}
        .return {                          text-align: center;}
        .return a.button {                 font-family: 'Montserrat', sans-serif; padding: 10px 45px; margin: 40px 0 0; display: inline-block; font-size: 16px; line-height: 28px; font-weight: 900; text-decoration: none; color: #fff; background-color: #ca1d48;}
        .return a.button:hover {           color: var(--black); background-color: var(--gold);}
        h3.contact {                         margin: 0; color: #ca1d48;}
        p.contact {                        font-size: 16px; line-height: 24px; font-weight: 500; color: #000;}
    }
}